@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-rotate-slow {
  animation: rotateSlow 40s linear infinite;
}

#home,
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 90px;
}